.containerMessages{
    position: relative; 
    top: 15px;
    max-width: 1200px;
}
.containerMessage{
    margin: 10px 10px 10px auto;
    padding: 5px 25px;
    
    -webkit-animation: 0.5s linear opacityAnim;
    -moz-animation: 0.5s linear opacityAnim;
      -o-animation:  0.5s linear opacityAnim;
    animation:  0.5s linear opacityAnim;
}

@-moz-keyframes opacityAnim { from { opacity: 0;} to { opacity: 1;}  }
@-webkit-keyframes opacityAnim { from { opacity: 0;} to { opacity: 1;}  }
     @-o-keyframes opacityAnim { from {opacity: 0;} to { opacity: 1;}  }
        @keyframes opacityAnim { from { opacity: 0;} to {opacity: 1;}  }

.chatPage{
    box-shadow: 0 5px 30px rgb(0 0 0 / 20%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}


.styles_scrollable-div__prSCv{
    width: 100%;
}
.styles_scrollable-div__prSCv::-webkit-scrollbar {
width: 5px; 
}
  
.styles_scrollable-div__prSCv::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
}
  
.styles_scrollable-div__prSCv::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #4BFBF5, #007B77);
}

.styles_scrollable-div__prSCv {
    max-height: inherit;
    height: inherit;
    overflow-x: hidden;
}
.areaMessage{
    margin-bottom: 10px;
}

.css-1oqqzyl-MuiContainer-root {
    width: 95% !important;
}
@media only screen and (max-width: 1024) and  (min-width: 600px){
    .css-1oqqzyl-MuiContainer-root {
        width: 85% !important;
        justify-content: center !important;
        align-items: center !important;
        display: flex !important;
    }
    .containerMessages{
        position: relative; 
        top: 15px;
        max-width: 600px;
    }
    
}